h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  font: inherit;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  border-radius: 30px;
}

.container {
  min-width: 320px;
  max-width: 768px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--background);
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: calc(768px - 32px);
  padding: 16px 16px 0;
  margin-bottom: 24px;
}

.text-logo {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: left;
}

.btn-back__icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-back__text {
  font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #101828
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.logo {
  display: block;
}

.title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-top: 24px;
}

.subtitle {
  margin-top: 8px;
  font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    color: #989898
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 16px 0;
}

.container__input {
  position: relative;
}

.label {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.input {
  width: 100%;
  border-radius: 15px;
  padding: 10px 42px;
  border: 1px solid #e7e7e6;
  background-color: #ffffff;
  margin-top: 6px;
}

.input::placeholder {
  font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #989898;
}

.input:focus {
  outline: 1px solid #6377e2;
  box-shadow: none;
}

.input:hover {
  box-shadow: 0 0 0 4px rgba(231, 236, 250, 0.5);
}

.input__icon {
  position: absolute;
  top: 30px;
  left: 14px;
}

.btn {
  display: flex;
  height: 48px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #6377e2;
  background: #6377e2;
  color: #ffffff;
  margin-top: 8px;
}

.btn__text {
  font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container__text-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin: 32px 16px;
}

.text-account {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #989898;
}

.redirect {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #6377e2;
}